body {
  margin: 0;
  font-family: 'BCSfont', 'Arial',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "BCSfont";
  src: url("fonts/DINNextLTPro-Light.woff") format('woff');
}


@font-face {
  font-family: "BCSfont";
  src: url("fonts/DINNextLTPro-Regular.woff") format('woff');
  font-weight: bold;
}

@font-face{
  font-family: "BCSbold";
  src: url("fonts/DINNextLTPro-Bold.woff") format("woff");
}

h1, h2, h3, h4, h5 {
  font-family: "BCSbold", "Arial", sans-serif;
}

h1 {
  color:var(--secondary)
}

.content {
  padding:20px 10vw 10vw 20px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  width:100vw;
}

:root {
  --text-colour: #000000;
  --background: #F1F1F1;

  --primary: #BCCF00;
  --primary-25: #EEF3BF;
  --primary-50: #DDE77F;
  --primary-75: #CDDB40;
  
  --secondary: #006941;
  --secondary-25: #BFD9CC;
  --secondary-50: #7FB299;
  --secondary-75: #408C66;
}